body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    text-align: center;
    background-color: antiquewhite;
}
nav h1 {
    margin: 0;
    padding: 1rem;
}
.boxHasColorBox, .title, p {
    text-align: center;
}

.colorBoxBtns {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
}

.colorBoxBtns button {
    padding: 0.4rem 2rem;
}

